.social-icons {
    li {
        padding: 12px;
        background-color: #000;
        border-radius: 4px;
        i {
            display: flex;
        }
        a {
            color: #FFF;
        }
    }
}