footer.main {
    padding: 40px 0 20px;
    .container {
        @include flexBetween;
        gap: 32px;
        border-bottom: 1px solid #444444DD;
        padding-bottom: 32px;
    }
    .business-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @media (min-width: 769px) {
            max-width: 300px;
            align-items: initial;
        }
    }
    .nav-links {
        width: 100%;
        @include flexBetween;
        gap: 20px;
        @media (min-width: 769px) {
            max-width: 660px;
        }
        div {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 16px;
            @media (min-width: 769px) {
                max-width: 180px;
                align-items: initial;
            }
            span {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
    .copy {
        margin-top: 32px;
        text-align: center;
    }
}