:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1248px;
    padding: 0 24px;
    margin: 0 auto;
}

ul {
    list-style: none;
     &.flex {
        display: flex;
        gap: 12px;
     }
}

a {
    text-decoration: none;
}

